<div class="home-btn">
  <button routerLink="/login" type="button" class="btn btn-primary">로그인</button>
  <button routerLink="/signup" type="button" class="btn btn-primary">회원가입</button>
</div>
<div class="logo text-center">
</div>
<app-nav-bar></app-nav-bar>
<div class="home-container">
  <div class="row">
    <div class="col-sm-12">
      <h4>프로그램 주제별 랭킹</h4>
      <button>전체보기</button>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!fetchedRecipe">
      <div class="loadme">
        <p>Loading...</p>
        <div class="loader"></div>
      </div>
    </div>
    <div class="col-sm-2" *ngFor="let person of fetchedRecipe; let i = index">
      <div class="card">
        <img class="card-img-top" src="https://www.codeit.kr/static/images/course/catalog__seqId--26.png"
             alt="Card image" height="150px;">
        <div class="card-body">
          <h4 class="card-title">{{person[0]}}</h4>
          <p class="card-text"> good good good good good good good good good good good good</p>
          <a href="#{{i}}" data-toggle="modal" class="btn btn-primary">강의 들으러 가기</a>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h4>오늘의 추천 컨텐츠</h4>
      <button routerLink="/dashboard">전체보기</button>
    </div>
  </div>
  <div class="row">

    <div *ngIf="!fetchedRecipe">
      <div class="loadme">
        <p>Loading...</p>
        <div class="loader"></div>
      </div>
    </div>
    <div class="col-sm-2" *ngFor="let person of fetchedRecipe; let i = index">
      <div class="card">
        <img class="card-img-top" src="https://www.codeit.kr/static/images/course/catalog__seqId--26.png"
             alt="Card image" height="150px;">
        <div class="card-body">
          <h4 class="card-title">{{person[0]}}</h4>
          <p class="card-text"> good good good good good good good good good good good good</p>
          <a href="#{{i}}" data-toggle="modal" class="btn btn-primary">강의 들으러 가기</a>
        </div>
      </div>

    </div>
  </div>

</div>
