<div class="home-btn">
  <button routerLink="/login" type="button" class="btn btn-primary">로그인</button>
  <button routerLink="/signup" type="button" class="btn btn-primary">회원가입</button>
</div>
<div class="logo text-center">
</div>
<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row">
    <h4>프로그램 주제별 랭킹</h4>
    <div class="col-sm-12">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>전체보기</h4>
      <p>Choose you taste</p>
    </div>
  </div>
  <div class="row">
    <h4>오늘의 추천 컨텐츠</h4>
    <div class="col-sm-12">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h4>전체보기</h4>
      <p>Choose you taste</p>
    </div>
  </div>
</div>
