<div class="center-logo text-center" routerLink="/">
</div>

<div class="container">
  <div class="row">
    <h4>계정 생성</h4>
    <div class="col-sm-12">
      <form action="/action_page.php">
        <div class="form-group">
<!--          <label for="email">Email address:</label>-->
          <input type="email" #email class="form-control" placeholder="아이디" id="email">
        </div>
        <div class="form-group">
<!--          <label for="pwd">Password:</label>-->
          <input type="password" #password class="form-control" placeholder="비밀번호" id="pwd">
        </div>
        <button routerLink="/" type="button" (click)="signup(email.value, password.value)" class="btn btn-primary">회원가입하기</button>
      </form>
    </div>
  </div>
</div>
