/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.center-logo {
  margin: 30px auto;
  background-image: url("./assets/images/Coding_logo_Final.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 40vw;
  height: 20vh;
  border-radius: 0px;
  color: white;
  text-shadow: 2px 2px 5px black;
}

.logo {
  background-image: url("./assets/images/Coding_logo_Final.png");
  background-size: 200px;
  width: 200px;
  height: 42px;
  border-radius: 0px;
  color: white;
  text-shadow: 2px 2px 5px black;
  margin-top: 20px;
  margin-left: 20px;
}

.row {
  margin-bottom: 50px;
}

/*.nav-item active {background-image: url("./assets/images/Coding_logo_Final.png")}*/
