<div class="logo text-center">
</div>
<app-nav-bar></app-nav-bar>
<div class="rank-container">
  <div class="row">
    <div class="col-sm-3">
      <h3>프로그램 주제별 랭킹</h3>
    </div>
  </div>
  <div class="row">
    <div *ngIf="!fetchedRecipe">
      <div class="loadme">
        <p>Loading...</p>
        <div class="loader"></div>
      </div>
    </div>
    <div class="col-sm-12" *ngFor="let person of fetchedRecipe; let i = index">
      <label>{{i+1}}위</label>
      <div class="card">
        <img class="card-img-top" src="https://www.codeit.kr/static/images/course/catalog__seqId--26.png"
             alt="Card image" height="150px;">
        <div class="card-body">
          <h4 class="card-title">{{person[0]}}</h4>
          <!--          {{person[1]}}-->
          <p class="card-text"> good good good good good good good good good good good good</p>
          <a href="#{{i}}" data-toggle="modal" class="btn btn-primary">강의 들으러 가기</a>
        </div>
      </div>
      <!-- The Modal -->
      <div class="modal" id="{{i}}">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">{{person[0]}}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
              <div class="acidjs-rating-stars">
                <input [(ngModel)]="ratedValue"  type="radio" name="group-1" id="group-1-1" value="4"><label for="group-1-1"></label>
                <input [(ngModel)]="ratedValue"  type="radio" name="group-1" id="group-1-2" value="3"><label for="group-1-2"></label>
                <input [(ngModel)]="ratedValue"  type="radio" name="group-1" id="group-1-3" value="2"><label for="group-1-3"></label>
                <input [(ngModel)]="ratedValue"  type="radio" name="group-1" id="group-1-4" value="1"><label for="group-1-4"></label>
              </div>
              <button type="button" (click)="this.rateItem(this.person[0])" class="btn btn-primary" data-dismiss="modal">Rate</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
